<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://projektfunctionapps20240123153622.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/cc616689-62ca-4cfd-ae64-77b19c29f3fe/resourcegroups/zajecia_iot/providers/Microsoft.Web/sites/ProjektFunctionApps20240123153622</ResourceId>
    <UserName>$ProjektFunctionApps20240123153622</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://projektfunctionapps20240123153622.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>